header h1{
 text-align: center;
}
header img {
width: 300px;
height: 200px;
}

header p {
  text-align: center;
}
main p {
  font-size: 19px;
}

table {
    border: 2px solid black;
}
td {
border: 2px solid black;
}
body {
    background-color: lightblue;
}
header a {
text-decoration: none;
font-size: 23px;
color: rgb(255, 255, 255);
border-radius: 7px;
background-color: rgb(250, 0, 0);
}
.pass {
  text-align: center;
}
